$def with(form)

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>


<h4>Move Task</h4>
<div class="row">
    <form method="POST" class="col s12">
        <div class="input-field col s12">    
            $:form.render_css()
        </div>
    </form>
</div>
<script>
 jQuery(document).ready(function() {
    jQuery('select').material_select();
  });
</script>
