$def with(form)

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<nav>
  <div class="nav-wrapper blue darken-1">
    <a href="/" class="brand-logo center">MakerArea Gmünd Kanban Board</a>
    <a href="#" class="brand-logo right" id="txt"></a>
  </div>
</nav>
          
<h4>Add</h4>
<div class="row">
    <form method="POST" class="col s12">
        $for i in form.inputs:
        <div class="row">
            <div class="input-field col s12">
                    $:i.render()
                    <label for="$i.id">$i.description</label>
            </div>
        </div>
    </form>
</div>
